::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(141 155 186);
  border-radius: 2rem;
}

.iconfont.icon-zan:hover {
  cursor: pointer;
  color: #dc3545;
}

.page-navigator {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0.5rem 0;
  gap: 0.5rem;
  place-content: end;
}

.page-navigator li a {
  display: block;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #6c757d;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.page-navigator li.current a,
.page-navigator li a:hover {
  background-color: #212529;
  color: #fff;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.nav-tabs .nav-link {
  color: #fff;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border-color: rgba(255, 255, 255, 0.3);
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.nav-list .card > span {
  color: #495057;
  transition: all 0.3s ease-in-out;
}
.nav-list .card > span.collected,
.nav-list .card > span:hover {
  color: #ffc107;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  background: #fff;
  transition: all 0.3s ease-in-out;
  color: transparent;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  z-index: 2000;
}

#loader span {
  text-shadow: 0 0 2px rgba(85, 85, 85, 0.9), 0 0 0 rgba(0, 0, 0, 0.3),
    0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 rgba(22, 22, 22, 0.5),
    0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 rgba(22, 22, 22, 0.2),
    0 0 0 rgba(22, 22, 22, 0.45);
  animation: loader 0.85s ease-in-out infinite alternate;
}

@keyframes loader {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02),
      0 0 0 transparent, 0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 transparent,
      0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 hsla(0, 0%, 100%, 0);
  }
}

.clock span {
  margin-top: 80px;
  font-size: 70px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

#content {
  position: relative;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-color: #f8f9fa;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

#sidebar {
  position: fixed;
  top: 20%;
  width: 308px;
  z-index: 999;
}

#sidebar > div {
  position: absolute;
  left: -308px;
  width: 100%;
  min-height: 6rem;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

#sidebar > div:last-of-type {
  top: 4.5rem;
}

#sidebar > div:hover {
  left: 0;
  z-index: 1000;
}

#sidebar .title {
  position: absolute;
  height: 4rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  left: 308px;
  top: 1rem;
  writing-mode: vertical-rl;
  cursor: pointer;
}

#sidebar .body {
  display: flex;
  flex-wrap: wrap;
  place-content: start;
  height: 400px;
  padding: 10px;
}

#sidebar .body a {
  display: flex;
  place-content: center;
  place-items: center;
  width: 72px;
  height: 72px;
  text-decoration: none;
}

#sidebar .body a img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
#sidebar .body a img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.75);
}

#sidebar .tips {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  color: #6c757d;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#sidebar .tips:hover {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

#calendar {
  position: relative;
}

#calendar > a {
  color: #fff;
  opacity: 0.55;
  transition: all 0.3s ease-in-out;
}
#calendar:hover > a {
  opacity: 0.75;
  cursor: pointer;
}

#calendar > div {
  position: absolute;
  width: 240px;
  top: 42px;
  left: -30px;
  height: 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

#calendar:hover > div {
  height: 200px;
  opacity: 1;
}
.links ul {
  list-style: none;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.links ul li {
  display: flex;
  gap: 1rem;
  place-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0px 0px 8px #aaa;
  transition: all 0.3s ease-in-out;
}

.links ul li:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.links img {
  width: 48px;
  height: 48px;
}

.links a {
  color: #666;
  font-size: 1.2rem;
  text-decoration: none;
}

.links a:hover {
  color: #333;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
  text-decoration-color: #333;
}
.site-info {
  display: flex;
  gap: 2rem;
  margin: 0.5rem 0 2rem;
}
.site-info .site-ico {
  position: relative;
  border-radius: 1rem;
  background: #e6e8ed;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.site-info .site-ico .bg {
  height: 200px;
  width: 200px;
  opacity: 0.3;
  z-index: -1;
  filter: blur(10px);
}

.site-info .site-ico .icon {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.site-info .site-ico .stat {
  display: flex;
  place-content: center space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  color: #212529;
  font-size: 1rem;
  gap: 2rem;
}

.site-info .site-ico .iconfont {
  font-size: 1.25rem;
}

.site-info .site-ico .stat p {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0;
  place-items: center;
}

.site-info .site-desc {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
}

.site-info .site-desc > * {
  margin-bottom: 0;
}

.site-info .site-desc h2 {
  font-size: 1.5rem;
}

.site-info .site-desc .btn,
.site-info .site-desc a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  color: #6c757d;
  background-color: #e6e8ed;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.site-info .site-desc .btn:hover,
.site-info .site-desc a:hover {
  color: #fff;
  background-color: #212529;
}
.site-info .site-desc span.btn {
  position: relative;
}

.site-info .site-desc span.btn .qrcode {
  padding: 24px 8px 8px;
  background-color: #212529;
  position: absolute;
  top: 2.5rem;
  left: calc(50% - 80px);
  border-radius: 0.25rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.site-info .site-desc span.btn:hover .qrcode {
  opacity: 1;
  height: 176px;
}

.site-info .site-desc span.btn .qrcode img {
  width: 144px;
  height: 144px;
  border: 8px solid #fff;
}

@media (max-width: 768px) {
  .site-info {
    flex-direction: column;
    gap: 1rem;
  }
  .site-info .site-ico {
    display: flex;
    place-content: space-between;
  }

  .site-info .site-ico .icon,
  .site-info .site-ico .stat {
    position: static;
    margin: 0 1rem 0 0;
  }
  .site-info .site-ico .bg {
    display: none;
  }
  .site-info .site-desc {
    gap: 0.5rem;
  }
}
