::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(141 155 186);
  border-radius: 2rem;
}

.page-navigator {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0.5rem 0;
  gap: 0.5rem;
  place-content: end;
}

.page-navigator li a {
  display: block;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #6c757d;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.page-navigator li.current a,
.page-navigator li a:hover {
  background-color: #212529;
  color: #fff;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link {
  color: #999;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border-color: rgba(255, 255, 255, 0.3);
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card .card-link {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 32px;
  margin: 1rem 0.5rem;
  color: #ccc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.card .card-link:hover {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url(../images/loader.gif) no-repeat center center;
  transition: all 0.3s ease-in-out;
}

#content {
  position: relative;
  padding-bottom: 4rem;
  min-height: 100vh;
  background-color: #f8f9fa;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#calendar {
  position: relative;
}

#calendar > a {
  color: #fff;
  opacity: 0.55;
  transition: all 0.3s ease-in-out;
}
#calendar:hover > a {
  opacity: 0.75;
  cursor: pointer;
}

#calendar > div {
  position: absolute;
  width: 240px;
  top: 42px;
  left: -30px;
  height: 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

#calendar:hover > div {
  height: 200px;
  opacity: 1;
}
