@font-face {
  font-family: "iconfont"; /* Project id 4245139 */
  src: url('iconfont.woff2?t=1724721689671') format('woff2'),
       url('iconfont.woff?t=1724721689671') format('woff'),
       url('iconfont.ttf?t=1724721689671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e659";
}

.icon-favorite:before {
  content: "\e62e";
}

.icon-rili:before {
  content: "\e637";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-arrow-r-m:before {
  content: "\e602";
}

.icon-qr-sweep:before {
  content: "\e60c";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-jinru:before {
  content: "\e615";
}

.icon-zan:before {
  content: "\e870";
}

